* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsl(259, 100%, 65%);
  --error: hsl(0, 100%, 67%);

  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-blacK: hsl(0, 0%, 8%);

  font-size: 32px;
}

body {
  background: var(--off-white);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 0.8rem 0.8rem 7rem 0.8rem;
  max-width: 28rem;
  width: 28rem;
  height: fit-content;
  padding: 2rem;
  margin: 0.5rem;
}

.card .inputs-container {
  display: flex;
  gap: 1rem;
}

.card .inputs-container .input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.card .inputs-container .input .text {
  color: var(--smokey-grey);
  font-size: 0.45rem;
  letter-spacing: 0.1rem;
}

.card .inputs-container .input input {
  height: 2rem;
  max-width: 5rem;
  min-width: 2.5rem;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  caret-color: var(--primary);
  border-radius: 0.2rem;
  outline: 2px solid var(--off-white);
  border: none;
  cursor: pointer;
}

.input-error {
  outline: 2px solid var(--error) !important;
}

.text-error {
  color: var(--error) !important;
}

.p-error {
  font-size: 0.4rem;
  font-weight: 400;
  font-style: italic;
}

.card .inputs-container .input input:focus {
  outline: 2px solid var(--primary);
}

.card .separator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.card .separator hr {
  height: 3px;
  width: 90%;
  background-color: var(--off-white);
  border: none;
}

.card .separator .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  border-radius: 50%;
  min-width: 3.5rem;
  min-height: 3.5rem;
  cursor: pointer;
  transition: background 0.2s;
  z-index: 1;
}

.card .separator .circle:hover {
  background: var(--off-blacK);
}

.card .output {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
  line-height: 3.5rem;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.card .output .number {
  color: var(--primary);
  margin-right: 0.25rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 775px) {
  :root {
    font-size: 22px;
  }

  main {
    padding-top: 4rem;
    align-items: flex-start;
  }

  .card {
    width: 90vw;
    padding: 2rem 1rem;
    gap: 1.5rem;
    border-radius: 0.8rem 0.8rem 4rem 0.8rem;
  }

  .card .separator hr {
    position: absolute;
    width: 80%;
  }

  .card .separator .circle {
    min-width: 3rem;
    min-height: 3rem;
  }

  .card .separator .circle img {
    width: 1.2rem;
    height: 1.2rem;
  }

  .card .inputs-container {
    display: flex;
    gap: 0.8rem;
  }

  .card .inputs-container .input input {
    height: 2.5rem;
    border-radius: 0.3rem;
    padding: 0.6rem;
  }

  .card .inputs-container .input .text {
    color: var(--smokey-grey);
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
  }

  .card .output p {
    font-size: 2.7rem;
  }
}
